<div class="background">
    <nav class="navbar">
      <div class="logo">ExpenseTracker</div>
      <ul class="nav-items">
        <li><a href="#">About</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a href="/signup">SignUp</a></li>
      </ul>
    </nav>
  
    <div class="content">
      <h1>ExpenseTracker</h1>
      <p>Welcome to Expense Manager</p>
      <p>Less stress when sharing expenses with your housemates, friends, or anyone.</p>
      <p>Keep track of your personal and shared expenses and balances.</p>
      <!-- <button>View Expenses</button> -->
    </div>
  </div>
  
