<div class="navbar">
    <div class="logo">Expense Tracker</div>
    <ul class="nav-items">
        <!-- <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li> -->
        <li><a routerLink="/welcome">Home</a></li>
    </ul>
</div>

<div class="contact-container">
    <div class="contact-card">
        <h2>Forgot Password</h2>
        <p>Please enter your registered email address to receive an OTP for password reset</p>
        <input type="email" [(ngModel)]="email" placeholder=" yourname@example.com" required />
        <div *ngIf="emailError && !email " class="error-message">{{ emailError }}</div>
        <button (click)="sendOtp()">Send OTP</button>
        <p class="back-to-login">
            <a routerLink="/login">Back to Login</a>
        </p>
    </div>
</div>
