<!-- Navbar -->
<div class="navbar">
    <div class="logo">Expense Tracker</div>
    <ul class="nav-items">
        <!-- <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li> -->
        <li><a routerLink="/welcome">Home</a></li>
    </ul>
</div>

   <!-- Reset Password Card -->
   <div class="contact-container">
    <div class="contact-card">
        <h1 style="margin-left: 30%; font-size: 1.9rem;">Reset Password</h1>

        <!-- New Password Field -->
        <div class="form-group">
            <label for="newPassword">New Password <span class="required-star" style="color: red;">*</span></label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required minlength="6" #passwordInput />
            <span class="toggle-password" (click)="togglePasswordVisibility()">
                <i [ngClass]="isPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'" ></i>
            </span>
            <div *ngIf="validateNewPassword && !newPassword" class="text-danger" >{{newPasswordErrorMessage}}</div>
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group">
            <label for="confirmPassword">Confirm Password <span class="required-star" style="color: red;">*</span></label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required minlength="6"  (input)="onInputChange()" #confirmPasswordInput />
            <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
                <i [ngClass]="isConfirmPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </span>
            <div *ngIf="validateConfirmPassword && !confirmPassword" class="text-danger" >{{confirmPasswordErrorMessage}}</div>
            <div *ngIf="passwordMismatch "  class="text-danger">{{confirmPasswordErrorMessage}}</div>
        </div>

        <button class="submit-button" (click)="resetPassword()">Reset Password</button>
        <div class="back-to-login">
            <p>
                <a routerLink="/login" class="login-link">Back to Login</a>
            </p>
        </div>
    </div>
</div>


